@tailwind base;
@tailwind components;
@tailwind utilities;

progress::-moz-progress-bar {
    background-color: #caea71;
}

progress::-webkit-progress-bar {
    background-color: #252525;
}
progress::-webkit-progress-value {
    background: #caea71;
}

progress {
    background-color: #252525;
}
